using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;

namespace _4lab
{
    class _
    {
    }
}
# Visual Studio
.vs/
*.suo
*.user
*.userosscache

# Build output
bin/
obj/

# Project files (если не хочешь их отслеживать)
4lab.csproj
4lab.sln
